* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    position: relative;
    margin:0;
}
header {
    font-size: 32px;
    font-weight: 700;
    background-color: rgb(106, 211, 0);
    padding: 30px;
    text-align: center;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    border-top: 3px solid rgb(82, 43, 0);
    border-bottom: 3px solid rgb(82, 43, 0);
    padding: 20px;
    background-color: orange;

}
nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0 0 5px black;
}
h1 {
    text-align: center;
}
.content {
    margin:30px;
}

/* Étlap */

section {
    display: flex;
    flex-wrap: wrap;
    background: orange;
}
.box {
    overflow: hidden;
    border:1px solid black;
    height:300px;
    width:200px;
    margin:20px;
    box-shadow: 3px 3px 7px black;
}
.box img {
    height: 160px;
}
.box .box-description {
    padding:10px;
}


/* Rendelés */




/* admin panel */

table {
    counter-reset: rowNumber;
  }
  td {
      vertical-align: middle;
  }
  td:first-child, th:first-child {
    text-align: center;
  }
  
  td:first-child::after {
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
  }

  #editForm {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0,0,0, .8);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #editForm #form {
      background-color: white;
      padding:20px;
  }
  .form-group {
      margin:10px 0;
      width: 100%;
  }




/* Bootstrap fieldset és legend sztornózása */

  fieldset.scheduler-border {
      width:500px;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    float: none;
    padding: 0 10px;
    width: auto;
    font-weight: bold !important;
    text-align: left !important;
}